/* 
===================================
Themename: Starter Pack
Author: Abu Shama
Version: 1.0
===================================
-----------CSS Index---------------



===================================
*/

.app-heading {
    margin: 32px 0;
    font-size: 23px;
    border-bottom: 1px solid #159513;
    color: #159513;
}